#DB
DB_HOST=db
DB_USER=postgres
DB_PASSWORD=25032004
DB_NAME=mydb
DB_PORT=5432
JWT_SECRET=superspicysecretkey
# URL
PRODUCT_SERVICE_URL=http://product-service:8081/products
CART_SERVICE_URL=http://cart-service:8082/cart
DATABASE_URL= postgres://postgres:25032004@localhost:5432/mydb?sslmode=disable #change localhost to db for dock
LOGGER_URL=http://localhost:8085/ingest
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4317
REDIS_URL=redis:6379